# ------------------------------------
# Python Cache
# ------------------------------------
__pycache__/


# ------------------------------------
# data created automatically
# ------------------------------------
data/

# ------------------------------------
# vscode files
# ------------------------------------
.vscode/